<!-- cart -->
<div class="fixed right-0 z-50 w-full h-screen px-3 transition duration-500 transform translate-x-full md:max-w-cart ease-in-out-quint js-go-cart-overlay bg-tint2">

<div class="js-go-cart-modal-fail"></div>

  <div id="menu-cart" class="flex w-full pt-3">
    <div id="cart" x-data="cart()" class="w-full go-cart__drawer js-go-cart-drawer">

    <div class="flex flex-wrap pb-3 select-none md:pb-7 font-3 tracking-2">
      YOUR BAG
    <button class="ml-auto js-go-cart-modal-fail-close js-go-cart-drawer-close font-3 tracking-2"> CLOSE</button>
    </div>
      <div class="w-full go-cart-drawer">
        

        <div class="brand-t-border go-cart-drawer__content js-go-cart-drawer-content"></div>

        <div class="mt-auto">
          <div class="flex flex-wrap w-full selection:go-cart-drawer__footer js-go-cart-drawer-footer">

             <div class="flex flex-wrap w-full py-3 pb-7 go-cart-drawer__subtotal font-3 tracking-2" >
              <div class="uppercase">Subtotal</div>
               <div class="ml-auto go-cart-drawer__subtotal-price font-1 tracking-2 js-go-cart-drawer-subtotal"></div>
              </div>
          
            <a href="/checkout/" class="{% render 'c-cart-btn' %} go-cart__button">Checkout</a>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
