<section id="filter-menu" class="fixed left-0 hidden h-[100vh] pb-12 overflow-y-auto w-full top-0 lg:top-1/2 z-70 py-8 md:py-11 bg-tint4 lg:-translate-y-[100px] ">

<div class="absolute top-[30px] right-[20px] z-70 md:hidden "> {% render 'filter-close'%}</div>

     <div class="flex flex-wrap w-full mt-6 md:mt-0">
          <div class="{% render 'c-gutter' %}"></div>

          <div id="filters"  data-url="{{ collection.handle }}" class="flex flex-wrap flex-1 bg-tint4 text-tint3">
            <div class="w-full md:w-1/4 ">
              <a class="{% render 'c-filter-h'%} hover:text-tint1 transition-colors duration-300" href="/collections/shop-by-age">Shop all</a>

              
            </div>

            <div id="sort-filters"  class="w-full md:w-1/4 mb-9 "   x-data="filter()" data-filter="{{ collection.sort_by }}">
            {% render 'filter-sort'%}
            </div>

            <div id="menu-filters" class="w-full md:w-1/4" x-data="filter()" data-filter="">
                {% render 'filter-menu2'%}
            </div>



            <!-- other filters -->
            <div id="tag-filters" class="w-full md:w-1/4"  x-data="filter()" x-init="init" data-filter="">
              
              <div class="flex flex-wrap w-full">
              <div class="w-full">
              <h3 class="{% render 'c-filter-h'%} flex ">Filter by tags     <div class="hidden ml-auto md:block"> {% render 'filter-close'%}</div></h3>
              
 
              
            
            
  

              {% if collection.tags.size > 0 %} 
              <ul>
                {% for tag in collection.tags %}

                <li
                  class="{% for link in linklists.main-menu.links %} {% if link.levels >= 1 %} {% for sub_link in link.links %} {% if tag contains sub_link.title %} hidden {% endif %} {% endfor %} {% endif %} {% endfor %}"
                >
                  <a @click="tags" class="cursor-pointer tag-opt {% render 'c-filter-link'%} {% if current_tags contains tag  %} filter-active  {% endif %}" data-action="{{ tag | handle }}">{{ tag }}</a>
                </li>

                {% endfor %}
              </ul>
                {% else %}
                There are no tags for this selection
                {% endif %}
              </div>
             
           


            </div>
</div>

         <a  x-data="filter()" @click="apply" class="w-full my-6 transition-colors duration-300 cursor-pointer md:my-0 md:w-auto md:ml-auto hover:text-tint1 text-2-fluid">Apply</a>

          </div>

          <div class="{% render 'c-gutter' %}"></div>
          
</div>

</section> 