{% if article.metafields.accentuate.gallery.size %}

  <div id="gallery-holder">

    <div id="gallery" x-data="gallery" x-init="init" class="relative w-full mb-6 md:w-11/12 md:mb-0 cursor-pointer
        
        {% if article.metafields.accentuate.gallery.size < 2 %}
        no-arrows
        {% endif %}
        
        ">

      <div id="gal-zoom" class="splide__track md:cursor-zoom">
        <ul class="splide__list">

          {% for img in article.metafields.accentuate.gallery  %}
            <li class="splide__slide">

              <img x-data="gallery" @click="enlarge()" class="w-full " src="{{ img.cloudinary_src | append: 'w_1000,h_1000' }}" alt="{{ img.alt }}" loading="lazy"/>

            </li>
          {% endfor %}
        </ul>
      </div>



      {% render 'gallery-btns' %}
    </div>
  </div>

{% endif %}