<div class="pt-[16px] pb-3 splide__arrows">

  <button id="gal-prev" class="uppercase font-3 hover:text-tint3 {% render 'c-color-change' %}  {% if header == true %} mb-[9px] md:mb-[47px] {% endif %} cursor-pointer splide__arrow splide__arrow--prev tracking-2">
    Previous
  </button>

  /

  <button id="gal-next" class="uppercase ml-auto font-3 {% render 'c-color-change' %} hover:text-tint3 {% if header == true %} mb-[9px] md:mb-[47px] {% endif %} cursor-pointer mr-7 splide__arrow splide__arrow--next tracking-2">
    Next
  </button>
</div>