  <div class="absolute top-0 left-0 z-10 flex w-full h-full transition-opacity duration-300 opacity-0 group-hover:opacity-100 overlay bg-tint3 p-sm text-tint2 ">
                    <span class="m-auto ">View product</span>
                </div>
        