 <a class="w-[85px] md:w-[120px] lg:w-[155px] block z-20 relative " href="{{ routes.root_url }}">


<svg  id="logo" class="w-full transition duration-300 fill-tint1" x-data="logo()" @mouseenter="over"  @mouseleave="out" class="flex inline-block w-full"   xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 489.8 211.4" style="enable-background:new 0 0 489.8 211.4;" xml:space="preserve">
	 	<g id="head">
		<path id="eye2" class="eye" d="M10.6,140.2c5.7,0,10.4-4.7,10.4-10.5c0-5.9-4.7-10.5-10.4-10.5S0,123.8,0,129.7C0,135.5,4.8,140.2,10.6,140.2"
			/>
		<path id="eye1" class="eye" d="M10.6,85.8c5.7,0,10.4-4.7,10.4-10.5c0-5.9-4.7-10.5-10.4-10.5S0,69.4,0,75.3C0,81.1,4.8,85.8,10.6,85.8"/>
		<path d="M69.7,96.4V51h27.2c18.2,0,26.8,7.1,26.8,21.5c0,15.9-10.3,24-28.9,24H69.7z M146,133.8c0-19.5-13.2-29.3-27.4-31.4
			c9.8-3.6,21.8-11.9,21.8-31.2c0-20.7-13.6-33.2-40.4-33.2H53.2v71.5h16.5h4.8h21.6c19.5,0,33.2,6.7,33.2,24.5
			c0,13.2-7.5,25.1-32.6,25.1H74.6h-4.8H53.2v13h49.3C128.2,172.1,146,156.4,146,133.8"/>
	</g>

	<g id="inky">
	<path d="M167.6,49.3c0,5.6,4.4,10.4,10.6,10.4c6.2,0,10.6-4.8,10.6-10.4c0-6-4.4-10.6-10.6-10.6C172.1,38.7,167.6,43.3,167.6,49.3"
		/>
	<rect x="170.1" y="81.4" width="16.2" height="91.3"/>
	<path d="M215.4,172.7h16.2V123c0-19.1,11.6-30.6,24.6-30.6c9.3,0,19.5,5.6,19.5,19.5v60.7H292v-63.2c0-20.3-14.7-30.4-32.5-30.4
		c-13.5,0-22.4,6.2-28.8,16.1V81.4h-15.3V172.7z"/>
	<polygon points="320,37.3 320,172.7 336.3,172.7 336.3,134.8 346.9,124.9 381.1,172.7 400.8,172.7 358.9,114.7 394.7,81.4 
		375.5,81.4 336.3,117.8 336.3,37.3 	"/>
	<path d="M439.7,211.4l50.1-130h-15.7c0,0-23.8,61.7-26.7,71.7h-0.4c-3.3-10.1-27.3-71.7-27.3-71.7H403l36,90.9l-15.9,39.1H439.7z"
		/>
</g>

</svg>

</a>







