<ul>

  {% for link in linklists['main-menu'].links %}
    <li class='flex w-full mb-6'>
      <a
        class='text-center w-1/2 font-2 uppercase text-7-fluid leading-3 block mx-auto {% if is_active %} text-tint3 {% endif %} '
        href='{{ link.url }}'
      >
        {{- link.title | escape -}}
      </a>
    </li>
  {% endfor %}
  
  </ul>

  {% for link in linklists['right-menu'].links %}
    <li class='flex w-full mb-6 '>
      <a
        class='text-center mx-auto font-2 uppercase text-7-fluid leading-3 w-1/2 block {% if is_active %} text-tint3 {% endif %} '
        href='{{ link.url }}'
      >
        {{- link.title | escape -}}
      </a>
    </li>
  {% endfor %}


  <li class="flex mb-3 mt-9 full"><a class="mx-auto text-center uppercase text-1-fluid font-1 leading-1" href="https://www.instagram.com/zabs/">Instagram</a></li>
  <li class="flex full"><a href="/pages/privacy-policy" class="mx-auto text-center uppercase text-1-fluid font-1 leading-1" href="https://www.instagram.com/zabs/">Privacy Policy</a></li>
  </ul>

