<nav class='relative z-20 '>
  <ul class='flex menu'>
    {% for link in linklists['main-menu'].links %}
      {% assign is_active = false %}
      {% if link.url == request.path %}
        {% assign is_active = true %}
      {% endif %}
      <li class='mr-6'>
        <a
          class='text-2-fluid uppercase hover:text-tint3 {% if is_active %} text-tint3 {% endif %} {% render 'c-color-change' %}'
          href='{{ link.url }}'
        >
          {{- link.title | escape -}}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
