

<h1 class="hidden md:block leading-2 text-4-fluid">{{ article.title }}</h1>
<h2 class="hidden mb-10 md:block leading-2 text-3-fluid text-tint5">
  {{ article.published_at | date: "%d/%m/%Y" }}
</h2>


{{ article.content }}


{% if article.metafields.accentuate.more-text%} 

<div class="mt-auto">
<a href="#more" x-data="anchor()" @click="go" class="duration-300 cursor-pointer hover:text-tint3">Read more +</a>
</div>


{% endif %} 
