{% assign current_variant = product.variants.first %}
<span id='product-price' class='mr-1 '>{{ current_variant.price | money }}</span>
<span
  id='compare-at-price'
  class='line-through {% if current_variant.compare_at_price > current_variant.price %}block{% else %}hidden{% endif %}'
>
  {{- current_variant.compare_at_price | money -}}
</span>
