<div class='flex items-center overflow-hidden '>
  <div
    x-data='qty()'
    class='flex  flex-wrap w-[120px] md:w-[155px]  justify-between border-3 border-tint1 rounded-2'
  >
    <a
      @click='minus'
      class='{% render 'c-color-change' %} inline-block px-2 md:px-4 py-2 cursor-pointer select-none rounded-l-1 hover:bg-tint1 hover:text-tint2 font-1 text-4-fluid leading-1 '
    >
      -
    </a>

    <input
      class='w-[30px] md:w-[40px] text-center select-none qty font-1 text-4-fluid leading-1 bg-none'
      type='text'
      {% if key %}
        name='updates[]'
        id='updates_{{ key }}'
      {% else %}
        name='quantity'
        id='Quantity'
      {% endif %}
      value='{{ count }}'
      min='1'
      data-max='{{ product.inventory_quantity }}'
    >

    <a
      @click='add'
      class='{% render 'c-color-change' %} inline-block px-2 md:px-4 py-2 cursor-pointer select-none rounded-r-1 hover:bg-tint1 hover:text-tint2 font-1 text-4-fluid leading-1'
    >
      +
    </a>
  </div>
</div>
