<div>
  {% assign current_variant = product.selected_or_first_available_variant %}

  <form
    x-data='product()'
    class='mb-6'
    action='/cart/add'
    method='post'
    enctype='multipart/form-data'
    id='AddToCartForm'
  >
    {% render 'product-variants' %}

    {% render 'product-add' %}

    {% render 'product-qty', product: product.variants.first, count: 1 %}
  </form>
</div>
