<button
  type='submit'
  name='add'
  id='add-to-cart'
  class='
    bg-tint1  {% unless  product.variants.first.available %}opacity-50 {% else %}
      hover:bg-tint3
    {% endunless %}   text-tint2 {% render 'c-color-change' %} {% render 'c-btn' %}
  '
  {% unless product.variants.first.available %}
    disabled='disabled'
  {% endunless %}
>
  <span class='inline-block my-auto'>
    {% if product.variants.first.available %}
      {{ 'products.product.add_to_cart' | t }}
    {% else %}
      {{ 'products.product.sold_out' | t }}
    {% endif %}
  </span>
</button>
