<div>
  {% assign current_variant = product.selected_or_first_available_variant %}

  <form
    x-data='product()'
    class='mb-6'
    action='/cart/add'
    data-productid='{{ product.id }}'
    method='post'
    enctype='multipart/form-data'
    id='AddToCartForm'
  >
    <div class='mb-6 mr-2'>{% render 'product-add' %}</div>

    <div id='recharge-container'></div>

    {% render 'product-variants' %}

    <div class='flex flex-wrap mt-2'>
      <div>{% render 'product-qty', product: product.variants.first, count: 1 %}</div>
    </div>
  </form>
</div>
