  <a x-data="back()" @click="goback" class="cursor-pointer w-[62px] hidden transition-colors duration-300 origin-top-left transform rotate-90 translate-x-full lg:inline-block hover:text-tint3">
     Back 
  </a>