<div class="my-8">

<script src="https://widget.reviews.co.uk/badge-modern/dist.js"></script>
<div id="badge-160" style="max-width:160px;"></div>
<script>
reviewsBadgeModern('badge-160', {
    store: 'binkyshop.co.uk',
    primaryClr: '#000000',
    starsClr: '#000000'
});
</script>
</div>