<nav class='hidden mr-4 lg:block'>
  <ul>
    {% for link in linklists['right-menu'].links %}
      <li class=''>
        <a
          class='text-2-fluid uppercase hover:text-tint3   {% if is_active %} text-tint3 {% endif %} {% render 'c-color-change' %}'
          href='{{ link.url }}'
        >
          {{- link.title | escape -}}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
