<div class='relative z-10 flex flex-wrap w-full pt-5 pointer-events-none md:pt-0 md:absolute md:top-0 md:left-0 md:h-full cursor-drag splide__arrows'>
  <div class='flex flex-wrap items-center mx-auto md:w-11/12 md:h-full'>
    <button class='relative z-10 px-2 pointer-events-auto md:px-0 splide__arrow splide__arrow--prev'>
      {% render 'icon-prev-blue' %}
    </button>
    <button class='relative z-10 px-2 pointer-events-auto md:px-0 md:ml-auto splide__arrow splide__arrow--next'>
      {% render 'icon-next-blue' %}
    </button>
  </div>
</div>
