{% for product in collections.all.products %}
{% if product.id == 8008408400103 %}
{% assign shopifyProduct = product %}
{% endif %}
{% endfor %}


<ul id="vcolors" class="hidden">
{% for variant in shopifyProduct.variants %}
<li id="{{variant.id}}" data-color="{{ variant.metafields.custom.color }}">{{variant.id}} </li>
{% endfor %}
</ul>  
 