<footer class="w-full text-tint3 font-3 tracking-2">

  <div class="   text-tint1 {% render 'c-container' %}">

    <div class="flex flex-wrap brand-t-border foot:py-3">

      <div class="hidden w-2/12 uppercase tracking-2 foot:block">
        {{section.settings.signoff-text }}
      </div>

      <div class="flex justify-center w-full foot:w-8/12">
        <div class="w-full foot:w-auto">
          {% render 'menu-footer' %}
        </div>
      </div>
      <div class="hidden w-2/12 foot:flex">
        <button x-data="up()" @click="go" class="ml-auto uppercase tracking-2 hover:text-tint3  {% render 'c-color-change' %} font-3">Back to the top</button>
      </div>
    </div>
  </div>
</footer>

{% render 'vcolors'%}

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "text",
        "id": "signoff-text",
        "label": "Signoff text",
        "default": "Only the wise"
      }
    ]
  }
{% endschema %}