<footer class="w-full text-tint3 font-3 tracking-2">
  {%- if section.settings.marquee-text  -%}
    <div x-data="marquee()" class="py-3 overflow-hidden uppercase marquee" data-speed="0.2" data-reverse="true">
      <h4>
        {{section.settings.marquee-text }}
      </h4>
    </div>
  {%- endif -%}



  <div class="   text-tint1 {% render 'c-container' %}">

    <div class="flex flex-wrap brand-t-border md:py-3">

      <div class="hidden w-2/12 uppercase md:block">
        {{section.settings.signoff-text }}
      </div>

      <div class="flex justify-center w-full md:w-8/12">
        <div class="w-full md:w-auto">
          {% render 'menu-footer' %}
        </div>
      </div>
      <div class="hidden w-2/12 md:flex">
        <button x-data="up()" @click="go" class="ml-auto uppercase tracking-2 hover:text-tint3  {% render 'c-color-change' %} font-3">Back to top</button>
      </div>
    </div>
  </div>
</footer>

{% render 'vcolors'%}

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "text",
        "id": "marquee-text",
        "label": "Marquee text",
        "default": "And you have loved all the wrong people and a few of the right ones. And you didn't fall for a fad. And you have stepped back from a parking dispute. And you have given And you have loved all the"
      }, {
        "type": "text",
        "id": "signoff-text",
        "label": "Signoff text",
        "default": "Only the wise"
      }
    ]
  }
{% endschema %}