{%- if section.settings['fwic-img'] != blank -%}
  <section class='w-full pb-7 md:pb-15 bg-tint2'>
    <div class='w-full px-4'>
      <div class='relative h-auto px rounded-2'>
        <div class='absolute top-0 left-0 w-full h-full'>
          {% assign imgSet = section.settings['fwic-img'] %}
          {% render 'img-cover', img: imgSet %}
        </div>

        <div class='relative z-20 w-full h-full text-tint2'>
          <div class='m-auto text-center py-30 max-w-header {% render 'c-container' %} '>
            {%- if section.settings['fwic-header'] != blank -%}
              <h2 class='text-12-fluid leading-1 text-tint2'>
                {{ section.settings['fwic-header'] }}
              </h2>
            {%- endif -%}

            {%- if section.settings['fwic-sub-header'] != blank -%}
              <h3 class='mb-8 font-3 text-16-fluid leading-1'>
                {{ section.settings['fwic-sub-header'] }}
              </h3>
            {%- endif -%}

            {%- if section.settings['fwic-txt'] != blank -%}
              <div class='leading-5 text-3-fluid'>
                {{ section.settings['fwic-txt'] }}
              </div>
            {%- endif -%}
          </div>
        </div>
        <div class='absolute top-0 left-0 z-10 w-full h-full bg-opacity-50 rounded-2 bg-tint4'></div>
      </div>
    </div>
  </section>
{%- endif -%}

{% schema %}
{
  "name": "Full width image compact",
  "settings": [
    {
      "id": "fwic-img",
      "type": "image_picker",
      "label": "Image"
    },
    {
      "id": "fwic-header",
      "type": "text",
      "label": "Header"
    },
    {
      "id": "fwic-sub-header",
      "type": "text",
      "label": "Sub Header"
    },
    {
      "id": "fwic-txt",
      "type": "richtext",
      "label": "Text"
    }
  ],
  "presets": [
    {
      "name": "Full width image compact",
      "category": "sections"
    }
  ]
}
{% endschema %}
