<section class="{% render 'c-container' %}">
  <div class="flex flex-wrap w-full pt-3 pb-7 brand-t-border ">

    <div class="md:w-1/2">
      {%- if section.settings.title != blank -%}
        <h3 class="mb-3 uppercase font-3 tracking-2">{{ section.settings.title }}</h3>
      {%- endif -%}
    </div>

    <div class="md:w-1/2">
      <div class=" has-txt font-1 text-4">
        {{ section.settings.text }}
      </div>

      {%- if section.settings.button-link != blank -%}
        {% render 'link-arrow', link: section.settings.button-link, text: section.settings.button-text %}
      {%- endif -%}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Info feature",
    "settings": [

      {
        "id": "title",
        "type": "richtext",
        "label": "Title"
      }, {
        "id": "text",
        "type": "richtext",
        "label": "Text",
        "default": "<p>You'll notice needing Solons coincides with the arrival of wisdom. Perhaps it's that reading glasses are an age thing ... as is choosing folly on our own terms, rather than letting it jump up at us unawares. Or perhaps it’s that readers need reading glasses after years and years of nourishing reading. Either way, welcome – you thoughtful, equable soul you. Let’s spare a thought for the foolish. </p>"

      }, {
        "id": "button-link",
        "type": "url",
        "label": "Link"
      }, {
        "id": "button-text",
        "type": "text",
        "label": "Link text",
        "default": "Read more"
      }
    ],
    "presets": [
      {
        "name": "Info feature",
        "category": "sections"
      }
    ]
  }
{% endschema %}