<section class='flex flex-wrap w-full bg-tint2'>
  <div
    class='w-full pb-10 md:pb-20 mx-auto lg:w-10/12  {% render 'c-container' %}'
  >
    <a href='pages/shop' class='flex flex-wrap items-center text-tint1 hover:text-tint3 text-1-fluid'>
      <svg
        style='width:10px'
        class='mr-1'
        xmlns='http://www.w3.org/2000/svg'
        xml:space='preserve'
        viewBox='0 0 34.3 33.4'
      >
        <path fill="#053C96" d="M19.8 2.3c.7.7.7 1.9-.1 2.6l-9.2 8.8h22c1 0 1.8.8 1.8 1.8v2.4c0 1-.8 1.8-1.8 1.8h-22l9.2 8.8c.7.7.7 1.9 0 2.6L18 32.9c-.7.7-1.9.7-2.6 0L.5 18c-.7-.7-.7-1.9 0-2.6L15.4.5c.7-.7 1.9-.7 2.6 0l1.8 1.8c-.1 0-.1 0 0 0z"/>
      </svg>
      <span> Continue Shopping </span>
    </a>

    <h1 class='py-10 pb-5 text-center uppercase md:py-20 text-tint1 font-2 leading-1 text-13-fluid'>Your cart</h1>

    {% if cart.item_count > 0 %}
      <div class='flex-wrap hidden pb-5 md:flex'>
        <div class='w-1/2'>Product</div>
        <div class='flex flex-wrap w-1/2'>
          <div>Quantity</div>
          <div class='ml-auto'>Total</div>
        </div>
      </div>

      <form action='/cart' method='post' novalidate class='w-full '>
        <div class='w-full py-1 border-tint1 border-b-3 border-t-3'>
          <div class='border-t-3'>
            {% for item in cart.items %}
              {% render 'cart-row', item: item, id: forloop.index %}
            {% endfor %}
          </div>
        </div>

        {% render 'cart-footer' %}

        <button class='hidden' type='submit' name='update' id='update-cart'>Update</button>
      </form>

    {% else %}
      <div class='mx-auto text-center'>Your shopping cart is empty.</div>
    {% endif %}
  </div>

  <div class='w-full dec-border blue-dec'></div>
</section>
