<div class="flex flex-wrap w-full pt-0 md:pt-7">
  <div class="{% render 'c-gutter' %}">
    <a
      href="/blogs/collections"
      class="cursor-pointer w-[62px] hidden transition-colors duration-300 origin-top-left transform rotate-90 translate-x-full lg:inline-block hover:text-tint3"
    >
      Back
    </a>
  </div>
  <div class="flex-1 border-tint1">
    <div class="flex flex-wrap {% render 'c-section-b-margin' %}">
      
      <div class="md:w-1/2">
        <h1 class="md:hidden leading-2 text-4-fluid">{{ article.title }}</h1>
        <h2 class="mb-6 md:hidden leading-2 text-3-fluid text-tint5">
          {{ article.published_at | date: "%d/%m/%Y" }}
        </h2>
        {% render 'gallery' %}
      </div>


      <div class="flex flex-col flex-wrap md:w-1/2 post-txt tint1-link">{% render 'post-intro' %}</div>
    
    </div>


  </div>
  <div class="{% render 'c-gutter' %}"></div>
</div>

{% render 'post-extra' %}

<div class="flex flex-wrap w-full">
  <div class="{% render 'c-gutter' %}"></div>

  <div class="flex-1">{% render 'product-related', parent:article %}</div>

  <div class="{% render 'c-gutter' %}"></div>
</div>
