<div class=" bg-tint3" style="height:50vh">
          
          <div class="flex flex-wrap w-full mt-13">

            <div class="flex-sm md:flex-lg">intro</div>
             <div class="flex-1 border-tint1 border1">1</div>
             <div class="flex-1 border-tint1 border1">2</div>
            <div class="flex-sm md:flex-lg">aa</div>
          </div>
          
          </div>