<section class='flex flex-wrap pt-10 bg-tint2 md:pt-20 '>
  <div class='mx-auto max-w-content {% render 'c-container' %}'>
    <div class='w-full pb-1 border-tint1 border-b-3 '>
      <div class='w-full text-center border-tint1 border-b-3 '>
        <div class=''>
          <h3 class='mb-12 text-tint3 leading-1ax-w-content font-3 text-9-fluid'>Cook it in</h3>
          <h2 class='mb-10 leading-4 uppercase text-13-fluid'>{{ article.title }}</h2>
          <h4 class='mb-12 uppercase'>
            By
            {% if article.metafields.custom.author_link %}
              <a href='{{ article.metafields.custom.author_link }}' class='underline hover:text-tint3' target='_blank'>
            {% endif %}
            {{ article.author }}
            {% if article.metafields.custom.author_link %}
              </a>
            {% endif %}
          </h4>
        </div>
      </div>
    </div>

    <div class='pt-12 '>
      <div class='grid gap-8 md:grid-cols-2'>
        {% if article.image != blank %}
          <div>
            {% assign img = article.image %}
            {% render 'img-product-card', img: img %}
          </div>
        {% endif %}

        <div class='leading-4 font-4 text-5-fluid'>
          {% render 'ingredients',
            title: article.metafields.custom.ingredients_one_title,
            list: article.metafields.custom.ingredients_one_list
          %}

          {% render 'ingredients',
            title: article.metafields.custom.ingredients_two_title,
            list: article.metafields.custom.ingredients_two_list2
          %}

          {% render 'ingredients',
            title: article.metafields.custom.ingredients_three_title,
            list: article.metafields.custom.ingredients_three_list2
          %}
        </div>
      </div>

      <div class='w-full'>
        <div class='w-full pb-1 border-tint1 border-b-3 '>
          <div class='w-full pb-6 leading-4 md:py-12 border-tint1 border-b-3 font-4 text-5-fluid txt article'>
            {{ article.content }}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% render 'related-products',
    products: article.metafields.custom.related_products,
    title: 'In this recipe',
    class: 'article-related'
  %}
</section>
