<section class="">
          
          <div class="flex flex-wrap w-full mt-13">

            <div class="{% render 'c-gutter' %}"></div>
             <div class="flex-1 post-txt">

                <div class="flex items-center md:w-8/12 hero">
                <div class="">
                {{ page.content }}
                   
                
                <div class="mt-12">

                        <a href="/pages/contact" class="transition-colors duration-300 text-tint3 hover:text-tint1">{{ page.metafields.accentuate.contact_text }}</a>
                        
                    </div>
                
                </div>
                </div>
                
             </div>
            <div class="{% render 'c-gutter' %}"></div>
          </div>
          
          </section>