<section class='bg-tint2 {% render 'c-section-padding' %} flex flex-wrap'>
  <div class='mx-auto max-w-content txt {% render 'c-container' %}'>
    <h1 class='{% render 'c-section-header' %}'>{{ page.title }}</h1>
    {{ page.content }}
  </div>
</section>
