<section class='flex flex-wrap w-full bg-tint2'>
  <div
    class='w-full pb-10 md:pb-20 mx-auto lg:w-10/12  {% render 'c-container' %}'
  >
    <a href='pages/shop' class=' text-tint1 hover:text-tint3'>Continue Shopping</a>

    <h1 class='py-10 pb-5 text-center uppercase md:py-20 text-tint1 font-2 leading-1 text-13-fluid'>Your cart</h1>

    {% if cart.item_count > 0 %}
      <div class='flex-wrap hidden pb-5 md:flex'>
        <div class='w-1/2'>Product</div>
        <div class='flex flex-wrap w-1/2'>
          <div>Quantity</div>
          <div class='ml-auto'>Total</div>
        </div>
      </div>

      <form action='/cart' method='post' novalidate class='w-full '>
        <div class='w-full py-1 border-tint1 border-b-3 border-t-3'>
          <div class='border-t-3'>
            {% for item in cart.items %}
              {% render 'cart-row', item: item, id: forloop.index %}
            {% endfor %}
          </div>
        </div>

        {% render 'cart-footer' %}

        <button class='hidden' type='submit' name='update' id='update-cart'>Update</button>
      </form>

    {% else %}
      <div class='mx-auto text-center'>Your shopping cart is empty.</div>
    {% endif %}
  </div>

  <div class='w-full dec-border blue-dec'></div>
</section>
