<section class=''>
  <div class='flex flex-wrap w-full '>
    <div class='mt-auto pb-7'>
      <h1 class='mb-4 md:mb-6 text-3-fluid' style='max-width:651px'>We are updating<br></h1>

      <h1 class='text-3-fluid text-tint3'>All enquiries <a href='mailto:zabs@zabsauce.com'>zabs@zabsauce.com</a></h1>
    </div>
  </div>
</section>
