<section x-data="test()" class='flex flex-wrap bg-tint2'>



  <div class='grid w-10/12 grid-cols-2 mx-auto'>
    <div></div>
    <div>
      <h1 class='uppercase text-tint3'>{{ product.title }}</h1>
      <h2 class='text-tint1'>{% render 'product-price' %}</h2>

      <div>
        {{ product.content }}
      </div>

      <div class='mt-4'>
        {% render 'product-form' %}
    </div>
    
  </div>
</section>
<!-- Flavour notes ! -->
{% render 'product-notes' %}

<!-- Usage list & Recipe ! -->
{% render 'product-usage' %}

<!-- Related products ! -->
{% render 'related-products',
  products: product.metafields.custom.related,
  title: product.metafields.custom.related_title,
  class: 'pro-related'
%}

{% schema %}
{
  "name": "Product details",
  "max_blocks": 10,
  "blocks": [
    {
      "name": "Row",
      "type": "gallery",
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "Title"
        },
        {
          "id": "text",
          "type": "richtext",
          "label": "Text"
        }
      ]
    }
  ],
  "settings": [
    {
      "id": "page-link",
      "type": "page",
      "label": "Page",
      "info": "(shown next to options)"
    },
    {
      "id": "page-text",
      "type": "text",
      "label": "Text for link"
    }
  ]
}
{% endschema %}
