<section class='flex flex-wrap w-full bg-tint2'>
  <div class='grid   {% render 'c-container' %} gap-8  pb-10 md:py-20 mx-auto md:grid-cols-2'>
    <div>
      {% render 'product-gallery' %}
    </div>

    <div>
      <div class='pb-5 border-b-3 border-tint1'>
        <h1 class='mb-3 uppercase text-tint3 text-9-fluid leading-1 font-2'>{{ product.title }}</h1>

        {% render 'okendo-reviews-product-rating-summary', product: product %}
        <h2 class='flex flex-wrap mt-6 text-tint1 leading-1 font-1 text-5-fluid'>{% render 'product-price' %}</h2>
      </div>

      <div class='pt-5'>
        {% render 'product-form' %}
      </div>

      <div class='pb-5 leading-4 md:pb-10 font-4 text-5-fluid'>
        {{ product.content }}
      </div>

      {% render 'product-accordion' %}
    </div>
  </div>
  <div class='w-full dec-border red-white-dec'></div>
</section>

<!-- Flavour notes ! -->
{% render 'product-notes' %}

<!-- Usage list & Recipe ! -->
{% render 'product-usage' %}

<!-- reviews ! -->
{% render 'okendo-reviews-widget', product: product %}

<!-- Related products ! -->
{% render 'related-products',
  products: product.metafields.custom.related,
  title: product.metafields.custom.related_title,
  class: 'pro-related'
%}

{% schema %}
{
  "name": "Shipping information",
  "settings": [
    {
      "id": "shipping",
      "type": "richtext",
      "label": "Text",
      "default": "<p>Default shipping information goes here</p>"
    }
  ],
  "presets": [
    {
      "name": "Shipping information",
      "category": "sections"
    }
  ]
}
{% endschema %}
