<div class="w-full {% render 'c-container' %}  pb-17 md:pb-26 ">
  <div class="pt-3 has-txt font-2 text-3 md:w-1/2">
    {{ section.settings.text }}
  </div>

  {%- if section.settings.button-link != blank -%}
    {% render 'link-arrow',link: section.settings.button-link,text: section.settings.button-text  %}
  {%- endif -%}
</div>

{% schema %}
  {
    "name": "Small Text feature",
    "settings": [
      {
        "id": "text",
        "type": "richtext",
        "label": "Text",
        "default": "<p>You'll notice needing Solons coincides with the arrival of wisdom. Perhaps it's that reading glasses are an age thing ... as is choosing folly on our own terms, rather than letting it jump up at us unawares. Or perhaps it’s that readers need reading glasses after years and years of nourishing reading. Either way, welcome – you thoughtful, equable soul you. Let’s spare a thought for the foolish. </p>"

      }, {
        "id": "button-link",
        "type": "url",
        "label": "Link"
      }, {
        "id": "button-text",
        "type": "text",
        "label": "Link text",
        "default": "Read more"
      }
    ],
    "presets": [
      {
        "name": "Small text feature",
        "category": "sections"
      }
    ]
  }
{% endschema %}