<section class='flex flex-wrap bg-tint2'>
  <div class='mx-auto max-w-form pb-7 md:pb-15 {% render 'c-container' %}'>
    <h1 class='{% render 'type-page-header' %}'>{{ page.title }}</h1>
    <div class='w-10/12 py-8 mx-auto leading-5 text-center text-1-fluid '>
      {{ page.content }}
    </div>

    {% render 'form-wholesale' %}

    <p>
      <div class='mt-10 md:mt-0'>
        <iframe
          src='https://www.faire.com/embed/bw_mq99g2dx95'
          width='240'
          height='50'
          style='margin: 0 auto; border: none; display: block; max-width: 100%;'
          scrolling='no'
        ></iframe>
      </div>
    </p>
  </div>
  <div class='blue-dec dec-border '></div>
</section>

<section class='flex flex-wrap bg-tint1'>
  <div class='mx-auto max-w-form pb-7 md:pb-15 {% render 'c-container' %}'>
    <h1 class='{% render 'type-page-header' %} text-tint2'>Restaurants</h1>

    <div class='flex flex-wrap'>
      <div class='w-10/12 py-8 mx-auto leading-5 text-center text-1-fluid text-tint2 '>
        {{ section.settings['restaurants-txt'] }}
      </div>
    </div>

    {% render 'form-restaurants' %}
  </div>
  <div class='blue-dec-alt dec-border '></div>
</section>

{% schema %}
{
  "name": "Wholesale",
  "settings" [
    {
      "id": "restaurants-txt",
      "type": "textarea",
      "label": "Restaurants text"
    }
  ]
}
{% endschema %}
