@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'splide.css';

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  font-weight: normal;
  list-style-type: none;
  border-width: 0;
  border-style: solid;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

@font-face {
  font-family: 'font-1';
  src: url('belanusa-fixed.woff2') format('woff2');
  font-display: block;
}
@font-face {
  font-family: 'font-2';
  src: url('whitby-brewers.static.woff2') format('woff2');
  font-display: block;
}
@font-face {
  font-family: 'font-3';
  src: url('daily-grind.woff2') format('woff2');
  font-display: block;
}
@font-face {
  font-family: 'font-4';
  src: url('barlow-regular.static.woff2') format('woff2');
  font-display: block;
}
@font-face {
  font-family: 'font-5';
  src: url('courier-new-bold.woff2') format('woff2');
  font-display: block;
}

.collect-1 {
  @apply bg-tint1 text-tint2;
}
.collect-2 {
  @apply bg-tint2 text-tint3;
}
.collect-3 {
  @apply text-tint2;
}
.related {
  @apply bg-tint2 text-tint3;
}

.collect-3 {
  @apply bg-tint3;
}

.dec-border {
  @apply w-full h-10;
  background-repeat: repeat-x;
  background-size: auto 80%;
  background-position-y: bottom;
}

.collect-1 .dec-border {
  background-image: url('dec-1.static.svg');
}
.collect-1 .add {
  @apply bg-tint2 text-tint1;
}
.collect-1 .active-card:hover {
  @apply bg-tint2 text-tint1 border-tint1;
}
.collect-1 .active-card:hover .inner-border {
  @apply border-tint1;
}
.collect-1 .active-card:hover .add {
  @apply bg-tint1 text-tint2;
}
.collect-1 .active-card .thumb {
  @apply border-tint1;
}
.collect-1 .sold-card {
  @apply border-opacity-50 border-tint2;
}
.collect-1 .sold-card .inner-border {
  @apply border-opacity-50 border-tint2;
}
.collect-1 .sold-card .thumb {
  @apply border-opacity-50 border-tint2;
}

.collect-2 .dec-border {
  background-image: url('dec-2.static.svg');
}
.collect-2 .add {
  @apply bg-tint3 text-tint2;
}
.collect-2 .active-card:hover {
  @apply bg-tint3 text-tint2 border-tint2;
}
.collect-2 .active-card:hover .inner-border {
  @apply border-tint2;
}
.collect-2 .active-card:hover .add {
  @apply bg-tint2 text-tint3;
}
.collect-2 .active-card .thumb {
  @apply border-tint3;
}

.collect-3 .dec-border {
  background-image: url('dec-3.static.svg');
}
.collect-3 .add {
  @apply bg-tint2 text-tint3;
}
.collect-3 .active-card:hover {
  @apply bg-tint2 text-tint3 border-tint3;
}
.collect-3 .active-card:hover .inner-border {
  @apply border-tint3;
}
.collect-3 .active-card:hover .add {
  @apply bg-tint3 text-tint2;
}
.collect-3 .active-card .thumb {
  @apply border-tint3;
}

.pro-related .add {
  @apply bg-tint3 text-tint2;
}
.pro-related .active-card:hover {
  @apply bg-tint3 text-tint2 border-tint2;
}
.pro-related .active-card:hover .inner-border {
  @apply border-tint2;
}
.pro-related .active-card:hover .add {
  @apply bg-tint2 text-tint3;
}
.pro-related.active-card .thumb {
  @apply border-tint3;
}

.article-related .add {
  @apply bg-tint1 text-tint2;
}
.article-related .active-card:hover {
  @apply bg-tint1 text-tint2 border-tint1;
}
.article-related .active-card:hover .inner-border {
  @apply border-tint2;
}
.article-related .active-card:hover .add {
  @apply bg-tint2 text-tint1;
}
.article-related .active-card .thumb {
  @apply border-tint1;
}
.article-related .sold-card {
  @apply border-opacity-50 border-tint1;
}
.article-related .sold-card .inner-border {
  @apply border-opacity-50 border-tint1;
}
.article-related .sold-card .thumb {
  @apply border-opacity-50 border-tint1;
}

.red-dec {
  background-image: url('dec-3.static.svg');
}
.blue-dec {
  background-image: url('dec-1.static.svg');
}
.blue-dec-alt {
  background-image: url('dec-2.static.svg');
}

.red-white-dec {
  background-image: url('dec-4.static.svg');
}

.recipes-grid > div:nth-child(3n) {
  border-right: 0 !important;
}
.recipes-grid > div:nth-last-child(-n + 3) {
  border-bottom: 0 !important;
}

p {
  margin-bottom: 30px;
}
p:last-child {
  margin-bottom: 0;
}
.article h3,
.article h4 {
  @apply mb-1 leading-5 text-3-fluid font-1;
}

.article ol {
  @apply pl-3 mb-9 md:pl-4;
}

.article ol li {
  @apply mb-3 list-decimal;
}

#product-thumb-nav .is-active {
  @apply border-tint1 border-1;
}

#product-thumb-nav .splide__track {
  z-index: 20 !important;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.matchbox {
  width: calc(100% - 14vw);
}

.txt a {
  @apply underline transition-colors duration-150 ease-in-out text-tint3;
}

@screen md {
  .dec-border {
    background-size: auto 100%;
  }
}

.grad-bg {
  background-color: rgba(0, 0, 0, 0.5);
}

@screen md {
  .grad-bg {
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 50%
    );
  }
}

.cursor-drag {
  cursor: grab;
}

.test-txt strong {
  @apply font-3;
  font-weight: normal;
}

.note-bottom {
  background: url('note-bottom.svg') no-repeat left bottom;
}

.oke-reviewsTab {
  display: none !important;
}

.inner-border-white {
  background-clip: border-box;
  box-shadow: 0 0 0 3px #fff;
}

.rc-widget {
  padding: 0 !important;
}
.rc-widget {
  @apply mb-6;
}

.rc-template__radio {
  @apply flex flex-col self-start;
}
.rc-radio {
  @apply self-start w-full md:w-auto;
}
.rc-template__radio label {
  @apply text-tint1 text-2-fluid !important;
}
.rc-radio {
  @apply border-tint1 border-3 rounded-[40px] mb-4  flex-1  py-2 px-5 !important;
}
.rc-radio__input {
  @apply border-tint1 border-3 rounded-[40px] text-1-fluid;
}
.rc-radio__input {
  width: 22px !important;
  height: 22px !important;
}
.rc-radio--active {
  background: #053c96 !important;
}
.rc-radio--active .rc-radio__label {
  color: #fdf9e8 !important;
}
.rc-radio--active .rc-radio__input {
  @apply bg-tint2 border-tint2 border-1;
  box-shadow: inset 0 0 0 3px #053c96;
}

.rc-radio__label {
  margin-left: 0px !important;
  padding-right: 10px;
}

.rc-selling-plans {
  background: none !important;
  padding-left: 0 !important;
  @apply mt-3;
}
.rc-selling-plans-dropdown__select {
  @apply border-tint1 border-3 bg-tint2 rounded-[40px] pl-5 pr-6 text-1-fluid py-2 !important;
}
.rc-selling-plans-dropdown__select {
  @apply relative;
}
.rc-selling-plans-dropdown__select {
  position: relative !important;
  background: url('down-arrow.svg') no-repeat right 10px center;
}
.rc-selling-plans-dropdown__select {
  @apply self-start;
}

.rc-tooltip__content {
  @apply bg-tint3 !important;
}

.rc-tooltip .tooltip .arrow:before {
  @apply bg-tint3 !important;
}
.rc-tooltip .arrow.bottom:after {
  @apply bg-tint3 !important;
}
.rc-tooltip .arrow.bottom:before {
  @apply bg-tint3 !important;
}

.rc-subscription-details__button {
  @apply text-tint1 text-1-fluid pt-3 md:pt-6 !important;
}

.rc-radio:last-of-type {
  margin-bottom: 0 !important;
}

div#rc_login {
  @apply text-1-fluid !important;
}

div#rc_login a:hover {
  @apply text-tint3 !important;
}
